@tailwind base;
@tailwind components;
@tailwind utilities;

@import "reset";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;800;900&display=swap");

@layer components {
	.page-container {
		max-width: 1440px;
		@apply mx-auto;
	}
	body {
		--swiper-navigation-size: 16px !important;
		margin: 0;
		font-family: "Montserrat", sans-serif;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		scroll-behavior: smooth;
	}
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

.swiper-button-next,
.swiper-button-prev {
	background-color: white;
	border-radius: 100%;
	width: 50px !important;
	height: 50px !important;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.swiper-slide {
	box-sizing: border-box;
}
.no-scrollbar::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}
.see-more-location {
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.see-more-location::before {
	content: "";
	border-style: solid;
	border-width: 20px 27px;
	border-color: transparent transparent #fff transparent;
	position: absolute;
	top: -28px;
	right: 4px;
}
